.setting-home{

  .setting-home-chunk {
    padding: 10px;
    margin-bottom: 20px;
    .setting-home-title {
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 16px
    }
    .system-home-box{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      .setting-home-item{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 15px;
          border-radius: 4px;
          cursor: pointer;
          background: #f7f7f7;
          text-align: center;
          gap: 15px;
          height:90px;
          .item-text{
              font-weight: 600;
              font-size: 12px;
              color: #888;
          }
      }
    }
  }

}
