.repository-addmodel {
    top: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    height: 100%;
    background-color: rgb(243, 244, 246);
    .ant-modal-header {
        display: none;
    }
    .project-type-col {
        padding: var(--tiklab-padding-item);;
    }
    .title{
        font-weight: bold;
        font-size: 16px;
    }
    .ant-modal-body {
        padding: 0 !important;
        height: 100%;
        overflow: auto;
        padding: 0!important;
        background-color: var(--tiklab-gray-600);
        .add-model-page {
            height: 100%;
            padding-bottom: 20px;
            .add-model-head {
                font-size: var(--tiklab-font-16);
                font-weight: var(--tiklab-font-weight-bold);
                height: 56px;
                line-height: 56px;
                font-size: 20px;
            }
        }
    }
}