.rpy-library{
    .rpy-library-head-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .rpy-library-mt{
        margin-top: 20px;
    }
    .rpy-library-search-nav{
        display: flex;
        justify-content: space-between;
        align-items:center;
        .icon-style{
            cursor: pointer;
        }
        .library-flex{
            display: flex;
            gap:16px;
            .input-icon{
                font-size: var(--thoughtware-input-icon-15);
            }
        }
        .library-border{
          /*  color: #999999;*/
        }
        .input-icon{
            font-size: var(--thoughtware-input-icon-15);
        }
    }
}
