.setting{
    display: flex;
    width: 100%;
    height: 100%;
    min-width: var(---xpack-min_width);
    .setting-nav{
        text-align: center;
        cursor: pointer;
    }

    .setting-nav-color:hover {
        background-color: rgb(229, 231, 235);
    }
    .setting-nav-style{
        border-top-width: 1px;
        padding: 5px;
    }

}

.left-nav{
    display: flex;
    height: auto;
    overflow: auto;
    background-color: var(--tiklab-gray-600);
    flex-direction: column;
    justify-content: space-between;
    .icon-nav{
        width: 40px;
        font-size: 17px;
    }
    .nav-repository{
        margin-left: 25px;
    }
    .table-nav{
        margin: 20px 0;
        cursor: pointer;
        padding: 5px 0;
    }
    .choice-table-nav{
        background-color: var(--tiklab-gray-400);
        border-left:2px solid #0063FF;
    }
}
.left-nav-system-width{
    width: 200px;
    min-width: 200px;
}
.left-nav-setting-width{
    width: 80px;
    min-width: 80px;
}
.setting_right_height{
    width: 100%;
    overflow: auto;
}

.aside-dropdown {
    top: 48px !important;
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background-color: #ffffff;

    &-normal{
        left: 80px !important;
    }
}

.repository-nav{
    display: flex;
    margin-top: 20px;
    &-icon{
        padding-top: 10px;
    }
}
