.setting{
    display: flex;
    width: 100%;
    height: 100%;
    .setting-nav{
        text-align: center;
        cursor: pointer;
    }

    .setting-nav-color:hover {
        background-color: rgb(229, 231, 235);
    }
    .setting-nav-style{
        border-top-width: 1px;
        padding: 5px;
    }

}

.left-nav{
    display: flex;
    height: auto;
    overflow: auto;
    background-color: var(--thoughtware-left-nav);
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #EBECF0;
    .icon-nav{
        font-size: 17px;
    }
    .nav-repository{
        margin-left: 25px;
    }

    .go-back-style{
        margin: 10px 0;
        border-bottom: 1px solid #d7d7d7;
        .nav-go-back{
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;

            margin: 10px 0;
            cursor: pointer;
            .nav-go-back-icon{
                width: 27px;
                height: 27px;
            }
            &:hover{
                background-color: var(--thoughtware-gray-400);
            }
        }
    }

    .table-nav{
        margin: 20px 0;
        cursor: pointer;
        padding: 5px 0;
    }
    .choice-table-nav{
        background-color: var(--thoughtware-gray-400);
        border-left:2px solid #0063FF;
    }
}
.left-nav-system-width{
    width: 200px;
    min-width: 200px;
}
.left-nav-setting-width{
    width: 81px;
    min-width: 81px;
}
.setting_right_height{
    flex: 1;
    overflow-y:hidden;
    overflow-x: auto;
}

.aside-dropdown {
    top: 48px !important;
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background-color: #ffffff;
    left: 80px !important;

}

.repository-nav{
    display: flex;
    margin-top: 20px;
    &-icon{
        padding-top: 10px;
    }
}
