.manage-db{
    margin: auto;
    padding: var(--page-padding);
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    .manage-head-style{
        display: flex;
        justify-content: space-between;
    }
    .manage-title {
        font-weight:var(--title-weight);
        font-size: var(--title-size);
        display: flex;
    }
    .manage-data{
        display: grid;
        row-gap: 1rem;
        padding: var(--page-data-padding);
    }

}

#tables{
    .ant-form-item-required:not(.ant-form-item-required-mark-optional):before{
        content:none ;
    }
    .ant-form-item-required:not(.ant-form-item-required-mark-optional):after{
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
}