.rpy-guide{
    .guide-head-tab{
        display: flex;
        margin-top: 20px;
        gap: 20px;
        .guide-tab-nav{
            font-size: var(--tiklab-font-14);;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        .choose-guide-tab-nav{
            color: #0063FF;
            border-bottom:2px solid #0063FF;
        }
    }
    .rpy-guide-data{
        margin-top: 30px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        .rpy-guide-tab{
            display: flex;
            gap: 20px;
            flex-direction: column;
            .rpy-guide-title{
                font-weight: 500;
            }
            .rpy-guide-desc{
                color: #666666;
                margin-top: 10px;
                font-size: 14px;
                .rpy-guide-desc-text{
                    cursor: pointer;
                    color: #1890ff;
                }
            }
            .rpy-guide-table{
                display: flex;
                background-color:#F4F4F4;
                padding: 10px 15px;
                margin-top: 10px;
                justify-content: space-between;
                gap: 14px;
                .rpy-guide-table-copy{
                    display: flex;
                    cursor: pointer;
                }


            }
        }

        .rpy-guide-illustrate{
            display: flex;
            margin: var(--tiklab-padding-item) 0;
            padding: 10px;
            background: #F8FFFF;
            color: var(--tiklab-blue);
            border: 1px solid #e3e9ed;
            letter-spacing: 0.5px;
            gap: 5px;
        }

    }
}
