
.privilege{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &-wrap {
        width: 100%;
        height: 100%;
        background: #eef0f3;
    }
    &-parent {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        background: white;
        &-detail{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    }
}
