@import "Normalize";



.antd-custom,.ant-modal,.ant-drawer,.ant-table{
    .ant-form-item{
        margin-bottom: 20px !important;
    }
    .ant-form-item-label>label {
        color: #666;
        font-size: 13px;
        font-weight: 500;
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-left: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }

    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        display: none !important;
        content: "" !important;
    }
    .ant-form-item-explain{
        font-size: 13px !important;
    }
    .ant-form-item-explain-error{
        min-height: 20px !important;
        height: 20px !important;
    }
    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon{
        background-color: var(--tiklab-blue);
    }
    .ant-steps-item-finish .ant-steps-item-icon{
        border-color: var(--tiklab-blue);
    }
    .ant-steps-item-finish .ant-steps-finish-icon{
        color: var(--tiklab-blue);
    }
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:after{
        background-color: var(--tiklab-blue);
    }
    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        position: static;
    }
    .ant-table-thead>tr>th{
        background: #ffffff;
        font-size: 13px;
        color: #777;
        font-weight: 600;
        padding: 8px;
    }

    .ant-table-column-sorters{
        padding: 1px;
    }
    .ant-table-tbody>tr>td{
        border: none;
        padding: 8px;
    }
    .ant-table{
        border-bottom: 1px solid #f0f0f0;;
    }
    .ant-transfer-list{
        background: #ffffff;
        border: none;
    }
    .ant-transfer-list-search-action{
        top:22px
    }
    .ant-transfer-list-header-dropdown{
        display: none;
    }
    .ant-transfer-list-header{
        border: none;
    }
    .ant-modal-footer{
        border:none;
    }
    .ant-empty-image{
        margin-bottom: 0;
        .ant-empty-img-default{
            width: 100px;
        }
    }
    .ant-empty-description{
        font-size: 13px;
        color: #999;
        padding-bottom: 8px;
    }
    .icon {
        width: 16px;
        height: 16px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }



}


/*制品库宽度*/
.hadess-data-width{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    .ant-col{
        min-width: 900px;
    }
}



.xpack-setting-width{
    max-width:var(--page-max-width);
    min-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    flex: 1;
}

.ant-form-item{
    margin:0 0 18px;
}

/*弹窗 必填红星位置*/
.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
    content: none;
}
.ant-form-item-label>label {
    color: #666;
    font-size: 13px;
    font-weight: 500;
}
.ant-form-item{
    margin-bottom: 18px;
}
.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
}
.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before{
    content:none!important;
}
.ant-table-tbody>tr>td {
    border-bottom: none !important;
    transition: background .3s;
}
.ant-modal-body {
    padding: 10px 24PX;
}
.ant-modal-footer {
    /* text-align: left;*/
    border-top: none;
}

img {
    height: fit-content ;
}

.locker-top{
    margin-top: var(--page-locker-top);
}

/*table  take out underline*/
.ant-table-tbody>tr>td {
    border-bottom: none;
}

/*drawer  take out underline*/

.ant-menu-sub.ant-menu-inline {
    padding: 0;
    background: var(--tiklab-gray-color) !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
    border-right: none !important;
}

/*antd 下拉框样式修改*/
.drop-down .ant-select-selector{
    background-color: #f7f7f7!important;
    border:none !important;
}

.ant-modal-body{
    overflow: auto;
}




.xpack-repository-width{
    margin: auto;
    max-width: 75%;
    min-width: 1080px;
    padding: var(--tiklab-padding);
}

.text-color:hover{
    color: #1890ff;
    cursor: pointer;
}

:root {
    --tiklab-padding: 20px;  /*页面边距 */
    --tiklab-padding-resove: -20px; /* 页面边距*/
    --tiklab-padding-item: 15px;  /*元素间隔边距 */
    --tiklab-padding-resove-item:-15px;  /*元素间隔边距 */



    --title-weight: 600;        /*title字体粗细*/
    --title-size: 16px;         /*title字体大小*/
    --title-margin: 1.5rem 0;   /*title上下外边距*/
    --title-hight:32px;         /*title固定高度*/
    --title-pdding:20px;         /*title内边距*/

    --page-padding:20px 20px 0 20px;  /*页面内边距*/
    --page-max-width: 1200px;  /*页面最大宽度*/
    --page-min-width: 1040px;  /*页面最小宽度*/
    --page-data-padding:15px 0;  /*页面数据和head的边距*/
    --page-locker-top:48px;     /*页面抽屉内边距*/

    --page-details-padding:15px 0;  /*页面数据和head的边距*/


    --tiklab-white: #fff;   /*主色调白*/
    --tiklab-black: #000;  /* 主色调黑*/
    --tiklab-blue: #0d66e4;   /* 主色调蓝*/
    --tiklab-gray-200: #ececec;  /*border 的边线*/
    --tiklab-gray-300: #EDF0F5;  /* hover颜色*/
    --tiklab-gray-400: #e3e8f0;  /* 左侧导航 选中颜色*/
    --tiklab-gray-500: #999; /* 文字次级颜色灰色调*/
    --tiklab-gray-600: #f7f7f7;
    --tiklab-gray-700: #fafafa;
    --tiklab-red-700:#ffccc7;
    --tiklab-red-600: #fff2f0;
    --tiklab-left-nav:#fafbfc;  /* 左侧导航背景*/

    --tiklab-gray-color: #efefef;  /*主色调灰 左侧一级导航*/
    --tiklab-gray: #f7f8fa; /* 主色调灰 左侧二级导航*/

    --tiklab-font-12: 12px;  /*图文排需要的文字 */
    --tiklab-font-13: 13px;  /*描述文字 */
    --tiklab-font-14: 14px; /*正文 */
    --tiklab-font-15: 13px;  /* 2级标题*/
    --tiklab-font-16: 16px;  /*标题 */

    --tiklab-font-weight-bold: bold;  /*标题字重 */

    /* 图标大小 */
    --tiklab-icon-size-16: 16px;
    --tiklab-icon-size-20: 20px;
    --tiklab-icon-size-22: 22px;
    --tiklab-icon-size-32: 32px;



    --xpack-sider-color: #efefef;
    --xpack-select-color: #e3e8f0;
    --xpack-hover-color: #edf0f5;
    --xpack-backdrop-color: #f7f7f7;
    --xpack-head-height: 48px;
    --xpack-content-height: 100%; /*content 高度  calc(100vh - 48px)*/

    --xpack-min_width:1024px;  /*最小宽度*/
    --xpack-data-width:1200px;  /*左侧数据宽度*/
    --xpack-data-top:20px;  /*页面数据top*/

    --xpack-table-top:10px;

    --tiklab-input-icon-15: 15px;




    /* 距离 */
    --tiklab-distance-15:15px;
    --tiklab-distance-20:20px;


    /*大小 */
    --tiklab-size-15: 15px;
    --tiklab-size-16: 16px;
    --tiklab-size-18: 18px;
    --tiklab-size-20: 20px;
    --tiklab-size-22: 22px;
    --tiklab-size-24: 24px;
    --tiklab-size-26: 26px;
    --tiklab-size-32: 32px;

    /*主题颜色*/
    --tiklab-motif-color-defult: #f7f7f7;
    --tiklab-motif-color-blue: #2f5eb1;
    --tiklab-motif-color-black: #131d30;

    /*导航栏*/
    --nav-left-space:20px;  /*导航栏左边距*/
    --nav-left-border-size:3px;  /*导航栏左边框大小*/
    --nav-icone-text-space:10px;  /*导航栏图标和文件间距  左右*/
    --nav-icone-open-size:18px;  /*打开后的导航栏图标大小*/
    --nav-icon-width:50px   /*导航栏图标宽度*/
}



