.hole{
    .hole-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .hole-search-style{
        display: flex;
        gap: 20px;
        margin-top: 20px;
        .input-icon{
            font-size: var(--thoughtware-input-icon-15);
        }
    }
    .hole-table{
        padding-top: var(--xpack-table-top);
    }


    .text-red{
        color: red;
    }
    .text-dired{
        color:#df5000;
    }
    .text-yellow{
        color:#ee9900;
    }
    .text-blue{
        color:#1890ff;
    }

}
