.hole-add{
  .hole-add-style{
    display: flex;
    .hole-add-title{
      width: 100px;
      color: #999999;
    }
  }
}
.hole-add-top{
    .hole-add-search{
        display: flex;
        gap: 20px;
    }
}
.hole-table-top{
    margin-top: 20px;
}

.hole-table-footer{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.text-red{
    color: red;
}
.text-dired{
    color:#df5000;
}
.text-yellow{
    color:#ee9900;
}
.text-blue{
    color:#1890ff;
}


