.scanHole{
    .scanHole-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .scanHole-find{
        display: flex;
        gap: 20px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .scanHole-table{
        padding-top: var(--xpack-table-top);
    }
}
