.scanScheme{
    .scanScheme-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .scanScheme-table{
        padding-top: var(--xpack-table-top);
    }
}
