.copy{
    .copy-title{
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
    }
    .copy-button{
        margin-top: 10px;
    }
    .copy-table{
        margin-top: 15px;
    }
    .copy-exe-table{
        display: flex;
        justify-content: space-between;
    }
}
