.system {
    display: flex;
    width: 100%;
    height: 100%;
    &-aside {
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 220px;
        background-color: var(--thoughtware-left-nav);
        border-right: 1px solid #EBECF0;
        &-sys{
            width: 100%;
            text-align: center;
            padding-top: 10px;
            height: 45px;
            border-top: 1px solid var(--thoughtware-gray-200);
            cursor: pointer;
        }
        &-top{
            height: 100%;
            overflow: hidden;
            &:hover{
                overflow: auto;
            }
        }
        ul,li {
            list-style: none;
        }
        &-hidden {
            display: none;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px 0 30px;
            cursor: pointer;
        }
        .system-aside-title-nav{
            display: flex;
            border-bottom: 1px solid #EBECF0;
            padding: 10px 20px;
            align-items: center;
            gap: 6px;
            margin-left: 5px;
            .system-aside-icon{
                width: 29px;
                height: 29px;
                cursor: pointer;
            }
            .system-aside-title-text{
                font-size: 15px;
                font-weight: bolder;
            }

        }
        .system-aside-first:hover {
            background: var(--thoughtware-gray-300);
        }
        .system-aside-second:hover{
            background: var(--thoughtware-gray-300);
        }

        &-li {
            line-height: 40px;
        }
        &-second-0{
            cursor: pointer;
            padding-left: 20px;
        }
        &-second-1{
            cursor: pointer;
            padding-left: 45px;
        }
        &-ul {
            padding: 0;
        }
        &-select {
            background: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-blue);
        }
    }
    &-content{
        flex: 1;
        height: 100%;
        overflow: auto;
    }
    .sys-content-icon{
        font-size: 18px;
        padding-right: 5px;
    }

    .nav-style{
        display: flex;
        align-items: center;
        padding-right: 20px;
        .nav-style-title{
            flex: 1;
        }
    }
}
