

.privilege-role-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    &-container{
        padding: 20px;
        width: 100%;
        height: 100%;
        position: relative;
    }
    &-item{
        padding: 20px 0;
    }
    &-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}



.card-container > .ant-tabs-card .ant-tabs-content {
    height: 100%;
    margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid #cccccc;
    content: "";
}

.card-container >.ant-tabs-card.ant-tabs-bottom>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type), .ant-tabs-card.ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type), .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type), .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type) {
    margin-right: 0;
}
.card-container >.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
    border-radius: 0;
}
