.home{
    background-color: var(--tiklab-gray-600);
    .home-title{
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        font-weight: bold;
    }
    .home-static{
        width: 900px;
        height: 400px;
    }

}