.close-size{
    width: var(--thoughtware-size-20);
    height: var(--thoughtware-size-20);
}

.open-size{
    width: var(--thoughtware-size-18);
    height: var(--thoughtware-size-18);
}

.goBack-size{
    width: var(--thoughtware-size-26);
    height: var(--thoughtware-size-26);
}
