.agency{
    .agency-width{
        max-width:var(--page-max-width);
        margin: 0 auto;
    }
    .agency-title{
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
    }

}