.library {
    display: flex;
    height: 100%;
    .library-data-style{
        margin-top: 10px;
        .library-head-style{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            .library-head-Select{
                display: flex;
                align-items: center;
                gap: 30px;
            }
            .library-head-icon{
              cursor: pointer;
            }

        }

        .library-tab-style{
            margin-top: 30px;
            display: flex;

            flex-direction: column;
            .library-tab-nav{
                &:hover{
                    background-color:var(--tiklab-gray-200) ;
                }
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                padding: 10px;
                .library-tab-left{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .library-type-table{
                        border-style: solid;
                        border-color: #DCDCDC;
                        border-width: 1px;
                        padding: 5px;
                        border-radius: 5px;
                    }
                    .library-tab-name{
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                    }
                    .tab-left-desc{
                        display: flex;
                        gap: 15px;
                        color: var(--tiklab-gray-500)
                    }
                }
            }
        }
    }

}

.code-page-width{
    width: 100%;;
    height: 100%;
    overflow: auto;
    padding: 20px 10px;
    .ant-col{
        min-width: 720px;
    }
}


.nav-type{
    display: flex;
    gap: 20px;
    font-size: 15px;
    margin: 10px 0 15px 0;

    .nav-type-nav{
        display: flex;
    }
}
