.library-left{
    background-color: #f7f8fa;
    height: 100%;
    .library-left-title{
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        align-items: center;
        font-weight: 600;
        padding: 10px 0 10px 25px ;
        border-bottom: 1px solid #E8E8E8;

    }

    .library-left-nav{
        width: 220px;

        .library-left-item{
            font-size: 15px;
            display: flex;
            align-items: center;
            padding: 10px 0 10px 25px ;
            cursor: pointer;
        }
        .choice-table-nav{
            font-size: 15px;
            display: flex;
            align-items: center;
            padding: 10px 0 10px 25px ;

            background-color: var(--tiklab-gray-300);
          /*  color: #1890ff;*/
        }
        .library-left-item-bar{
            display: flex;

        }
        .library-left-item-text{
            padding-left: 15px;
        }
        .library-left-nav-hover:hover{
            background-color: var(--tiklab-gray-300);
            cursor: pointer;
        }
    }
}
