.historyDetails{
    .details-title{
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 13px;
    }
    .details_library_type{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
    }
    .details_library_tab{
        font-size: var(--tiklab-font-14);;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        margin-top: 10px;
    }
}