.survey{
    padding: var(--tiklab-padding-item);
    overflow: auto;
    height: calc(100vh - 50px);
    min-width: 1080px;
    .history-width{
        max-width: 1250px;;
        margin: 0 auto;
    }
}