.file-details{
    .nav-table{
        display: flex;
        margin-bottom: 16px;
        .title-text{
            width: 100px;
        }
        .download-icon{
            color: #0063FF;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .nav-use{
        margin-top: 35px;
        .use-title{
            font-weight: var(--tiklab-font-weight-bold);
            font-size: 16px;
        }
        .use-des{
            color: #999999;
        }
        .use-table{
            margin-top: 5px;
            background-color: #DCDCDC;
            padding: 8px;
            .per-line{
                display: flex;
                margin-left: 25px;
            }
        }
    }
    .nav-path {
        height: 20px;
        .nav-path-cursor:hover{
            border-bottom: #1890ff;
            border-bottom-style: solid;
        }
        .nav-path-color{
            color: #1890ff;
            cursor: pointer;
        }
    }
}
.file-details-top{
    margin-top:48px
}
