.library-details{
    margin-top: var(--xpack-table-top);
    margin-right: 10px;
    .survey-title{
        font-weight: var(--thoughtware-font-weight-bold);
        margin-bottom: 5px;
        font-size: 13px;
    }
    .survey-body{
        display: flex;
        width: 100%;
        margin: 20px 0;
        flex: 1;
        .survey-body-left{
            display: flex;
            flex-direction: column;
            width: 44%;
            gap:25px
        }
        .survey-body-right{
            display: flex;
            flex-direction: column;
            width: 44%;
            gap:25px
        }
        .survey-body-item{
            display: flex;
            flex: 1;
            .survey-body-item-title{
                min-width: 80px ;
                color: var(--thoughtware-gray-500);
            }
        }
    }
    .survey-top{
        margin-top: 50px;
    }
}
