.library-tab{
    display: flex;
    column-gap: 20px;
    border-bottom: 1px solid var(--thoughtware-gray-200);
    .choose-library-type{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
    }
    .library-tab-nav{
        font-size: var(--thoughtware-font-14);;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        &-mar{
            margin-left: 20px;
            margin-right: 20px;
        }
    }

}
