.dk-head{
    position: fixed;
    width: 100%;
    min-width: 1100px;
    height: 48px;
    top: 0;
    background-color: #5d70ea;
    z-index: 100;

    .frame-header-logo {
        height: 48px;
        width: 100px;
        margin-right: 20px;
        margin-left: 10px;
    }
    .frame-header-right {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .frame-header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding-left: 22px;
    }
    .frame-header-link {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
    .frame-header-link-item {
        cursor: pointer;
        margin-right: 10px;
        padding: 0 10px;
        overflow: hidden;
        color: #fff;
        height: 48px;
        line-height: 48px;
    }
    .frame-header-link-active {
       // color: #444!important;
        background-color: hsla(0,0%,100%,.4);
    }
    &-user-box {
        width: 250px;
        background: #fff;
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 18%);
        border-radius: 5px;

        .user-head {
            font-size: 15px;
            font-weight: var(--tiklab-font-weight-bold);
            padding: 15px 20px 10px;
        }

        .user-info {
            display: flex;
            align-items: center;
            padding: 0px 20px 10px;
            .user-info-text {
                padding-left: 10px;
            }
        }

        .user-logout {
            border-top: 2px solid #EFEFF2;
            padding: 10px 20px;
            cursor: pointer;
            display: inline-flex;
            width: 100%;
            align-items: center;
        }

        .user-logout:hover {
            background-color: #F4F5F7;
        }

        .user-info-email {
            color: #6B778C;
            font-size: 12px;

        }
        .user-language {
            position: relative;
            .language-text {
                border-top: 2px solid #EFEFF2;
                padding: 10px 20px;
                cursor: pointer;
                display: inline-flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
            .language-left {
                display: flex;
                align-items: center;
            }
            .language-box-select {
                background-color: #f0f0f0;
            }
            .language-box {
                position: absolute;
                top: 2px;
                left: -100px;
                z-index: 1;
                width: 100px;
                background: #fff;
                box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
                .language-box-item {
                    line-height: 40px;
                    height: 40px;
                    padding: 0 20px;
                }

                .language-box-item:hover {
                    background-color: #f0f0f0;
                }
            }
        }

    }

    &-nav{
        width: 760px;
        height: 50px;
        margin-left: 18px;
        display: flex;
        justify-content: center;
        &-item{
            position: relative;
            display: flex;
            height: 45px;
            align-items: center;
            cursor: pointer;
            &-link{
                font-size: 16px;
                color: #000;
                margin: 0;
                text-decoration: none;
            }
           .dk-head-product-nav{
                display: block;
            }
        }
    }
    &-product{
        &-nav{
            width: 250px;
            top: 60px;
            left: -13px;
            background-color: #fff;
            box-shadow: 0 10px 16px 0 rgb(0 0 0 / 18%);
            border-radius: 6px;
            z-index: 9999;

        }
        &-content{
            &-nav {
                position: relative;
                display: flex;
            }
        }
        &-left{
            background-color: #fff;
            &-item {
                position: relative;
                width: 180px;
                height: 38px;
                padding: 0 15px;
                font-size: 14px;
                color: rgba(0, 0, 0, .7);
                line-height: 38px;
                cursor: pointer;
                &:hover {
                    background-color: #F6F6F6;
                    color: #000;
                }
            }
            .active {
                background-color: #F6F6F6;
                color: #000;
            }
        }
        &-block{
            display: none;
        }
        &-right{
            background-color: #F6F6F6;
            &-link{
                position: relative;
                display: block;
                width: 180px;
                height: 38px;
                padding: 0 15px;
                line-height: 38px;
                text-decoration: none;
                font-size: 14px;
                color: rgba(0, 0, 0, .7);
                &:hover{
                    color: #0089FF;
                }
            }
        }

        &-icon {
            position: absolute;
            font-size: 12px;
            right: 12px;
            color: #7b7f91;
        }
    }
}


.logout-menu{
    left: -20px;
}
.frame {
    height: 100vh;
    overflow: hidden;
}

