.hadess-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 600px;
    height: var(--xcode-head-height);
    border-bottom: 1px solid #e9e9e9;
    &-logo{
        height: var(--xpack-head-height);
        width: 100px;
        margin: 0 30px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        &-text{
            font-size: 19px;
            font-weight: 500;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &-right{
        display: flex;
        /*  justify-items: flex-end;*/
        align-items: center;
       margin-left: 20px;
        &-text{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-right: 20px;
            gap: 10px;
        }
        &-search-wrap{
            position: relative;
            width: 100%;
        }
    }
    &-user,&-message,&-set,&-help{
        margin: 0 10px;
        align-items: center;
        &:hover{
            background: rgba(255, 255, 255, 0.4);
            border-radius: 4px;
        }
    }
    &-icon{
        font-size: var(--thoughtware-icon-size-22);
        cursor: pointer;
        /*  color: #ffffff;*/
    }
    &-user{
        cursor: pointer;
    }
    &-content{
        height: var(--xpack-content-height);
    }
    &-link{
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        align-items: center;
        gap: 24px;
        padding-left: 20px;
        & > div{
            cursor: pointer;
            height: 48px;
            line-height: 48px;
           /*
            margin-right: 10px;
           padding: 0 10px;
            &:not(:last-child){
                margin-right: 10px;
            }*/
        }
        &-active{
            /* background: rgba(255, 255, 255, 0.4);*/
            border-bottom:2px solid #0063FF;
            color: #0063FF;
        }
        &-item{
            cursor: pointer;
            overflow: hidden;
            height: 48px;
            line-height: 48px;
            flex-shrink: 0;
            span {
                padding: 5px;
            }
        }
        &-item:hover {
            span {
                background: #E1EDFF;
                border-radius: 3px;
                color: var(--thoughtware-blue);
            }
        }
    }

    .recovery-item {
        margin-left: 7px;
        .licence_dropdown_block_item {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-bottom: 5px;
            }
        }
    }
}

