.deploy{
    .choose_deploy_type{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
    }
    .deploy_tab{
        font-size: var(--tiklab-font-14);;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        margin-top: 10px;
    }
}