.paging{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top-width: 1px;
    &-icon{
        margin-top: 5px;
        color: #999999;
    }
    &-text{
        margin-top: 5px;
        cursor: pointer;
    }
    &-mar{
        margin: 0 5px;
    }
}
