.file-details{
    .nav-table{
        display: flex;
        margin: 10px 0;
        .title-text{
            width: 100px;
        }
        .download-icon{
            color: #0063FF;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .nav-use{
        margin-top: 35px;
        .use-title{
            font-size: 20px;
        }
        .use-des{
            color: #999999;
        }
        .use-table{
            margin-top: 5px;
            background-color: #DCDCDC;
            padding: 8px;
            .per-line{
                display: flex;
                margin-left: 25px;
            }
        }
    }


}
