.tenant{
    margin: auto;
    padding: var(--page-padding);
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    .tenant-head-style{
        display: flex;
        justify-content: space-between;
    }
    .tenant-title {
        display: flex;
        font-weight:var(--title-weight);
        font-size: var(--title-size);
        height: var(--title-hight);

    }
    .tenant-data{
        padding: var(--page-details-padding);

    }

}
