.integration-openApi{
  width: 100%;
  height: 100%;
  overflow: auto;
  .integration-openApi-ul{
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin-top: 15px;
    .integration-openApi-li{
      display: flex;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      .openApi-li-icon{
        font-size: 18px;
        margin-right: 10px;
        font-weight: var(--tiklab-font-weight-bold);
      }
      .openApi-li-center{
        flex-grow: 1;
        .openApi-li-title{
          font-weight: var(--tiklab-font-weight-bold);
        }
        .openApi-li-desc{
          font-size: var(--tiklab-font-13);
          color: var(--tiklab-gray-500);
        }
      }
    }
  }
}
.share-left-list {
    padding: 0 10px;
    overflow: auto;
    height: calc(100% - 55px)!important;
}

.postin-share-box-right {
    padding: 10px 90px;
    max-width: 1040px;
    margin: 0 auto;
    width: calc(100% - 55px)!important;
    height: 100%;
}
