.system {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
}

.setting-height{
    height: auto;
    width: 200px;
    min-width: 200px;
    overflow: auto;
    display: flex;
}
.setting_right_height{
    width: 100%;
    overflow: auto;
}