.system {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
}

.setting-height{
    height: auto;
    width: 100px;
    min-width: 100px;
    overflow: auto;
    background-color: rgb(249, 250, 251);
}
.setting_right_height{
    width: 100%;
    overflow: auto;
}

.choice-table{
    background-color: rgb(229, 231, 235);
    border-left:2px solid #0063FF;
}