.repository-add{
    padding: var(--tiklab-padding-item);
    overflow: auto;
    height: calc(100vh - 50px);
    min-width: 1080px;
    .repository-add-width{
        max-width: 1000px;;
        margin: 0 auto;
    }
    .add-title{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .ant-modal-header {
        display: none;
    }
    .project-type-col {
        padding: var(--tiklab-padding-item);;
    }
    .title{
        font-weight: bold;
        font-size: 16px;
    }
    .repository-type{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-row-gap: 10px;
        margin-top: 5px;
        .type-border{
            border-style: solid;
            border-color: #DCDCDC;
            border-width: 1px;
            width: 100px;
            padding: 15px 0;
            border-radius: 5px;
            cursor: pointer;
        }
        .type-opt{
            color: #0063FF;
            border-color: #0063FF;
        }
        .type-text{
            text-align: center;
        }
    }
    .repository-group{
        display: flex;
        justify-content: space-between;
        .group-bord{
            border-style: solid;
            border-color: #DCDCDC;
            border-width: 1px;
            width: 40%;
            height: 150px;
        }
        .cut-repository.hover{
            background-color: #EBECF0;
            cursor: pointer;
        }
        .opt-color{
            background-color: #DCDCDC;
        }
        .opt-text{
            padding: 5px;
        }
        .icon-style{
            font-size: 20px;
            cursor: pointer;
            color: #999999;
            margin-top: 30px;
        }
    }
    .name-nav{
        margin-bottom: 15px;
    }
    .error-text{
        color:#ff0000;
    }
}

.add-table-nav{
    display: flex;
    margin-bottom: 10px;
    &::after{
        display: inline-block;
        margin-right: 4px;
        padding-left: 2px;
        padding-top: 3px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
}
.add-table-proxy{
    display: flex;
    margin-bottom: 10px;
    &-text{
        color: #999999;
        margin-left: 10px;
    }
}
