.repository{
    padding: var(--tiklab-padding-item);
    overflow: auto;
    height: calc(100vh - 50px);
    min-width: 1080px;
    .repository-width{
        max-width: 1250px;;
        margin: 0 auto;
    }
    .repository-head-style{
        display: flex;
        justify-content: space-between;
        .title{
            font-weight: bold;
            font-size: 16px;
        }
        .add-button{
            padding: 8px;
            margin-left: 7px;
            border-style: solid;
            background-color: #0063FF;
            color: #EBECF0;
            cursor: pointer;
            border-radius: 6px;
        }
    }

    .choose-type{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
    }
    .repository_tab{
        font-size: var(--tiklab-font-13);;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        margin: 0 15px;
    }
    .repository-table{
        margin-top: 15px;
    }

}
.repository-flex{
    display: flex;
}
.repository-name{
    color: #3967FF;
    cursor: pointer;
    margin-left: 3px;
    margin-top: 2px;
}
.exe-button{
    color: #3967FF;
    cursor: pointer;
}
