.repository{
    padding: var(--thoughtware-padding-item);
    height: var(--xpack-content-height);
    overflow: auto;
    .repository-head-style{
        display: flex;
        justify-content: space-between;
        .add-button{
            padding: 5px;
            margin-left: 7px;
            border: 1px solid #d9d9d9;
            background-color: var(--thoughtware-blue);
            color: #EBECF0;
            cursor: pointer;
            border-radius: 6px;
            font-weight: 500;
        }
        .guide-button{
            padding: 5px;
            margin-left: 7px;
            cursor: pointer;
            border-radius: 6px;
            font-weight: 500;
            color: #42526E;
            background: #efefef;
        }
    }

    .choose-type{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
    }
    .repository_tab{
        font-size: var(--thoughtware-font-13);;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
    }
    .repository-table{
        margin-top: 15px;
    }
    .repository-tables-set{
        cursor: pointer;
        .actions-se{
            font-size: 16px;
        }
    }
    .repository-tables-nav{
        width: 50px;
        background: #F4F4F4;
        border-radius: 4px;
        text-align: center;
        font-size: 13px;
        /* width: -moz-fit-content;
         width: fit-content;*/
        color: #2b333e;
    }
}
.repository-filter{
    display: flex;
    /*justify-content:space-between;*/
    align-items: center;
    margin-top: 10px;
    gap: 30px;
    .input-icon{
        font-size: var(--thoughtware-input-icon-15);
    }
}
.repository-flex{
    display: flex;
    gap: 15px;
}

.repository-name:hover{
    cursor: pointer;
    color:#3967FF ;
}

.name-text-type{
    display: inline-block;
    color: #707070;
    font-size: 12px;
    line-height: 20px;
    padding: 0 7px;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    font-weight: 400;
    margin-left: 5px;
}
