.repository-info{
    max-width:var(--page-max-width);
    margin: 0 auto;
    .info-title{
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
    }
    .info-table{
        margin-top:15px
    }

    .delete-style{
        border-top: 1px solid #E8E8E8;
        margin-top: 25px;
    }
    .delete-text{
        color: red;
        margin-top: 4px;
    }
}
