.repository-update{
    .repository-type-table{
        border-style: solid;
        border-width: 1px;
        border-color: #DCDCDC;
        width: 80px;
        padding: 10px 0;
        border-radius: 5px;
        .type-text{
            flex-direction: row;
            text-align: center;
        }
    }
    .proxy-style{

        .add-table-proxy{
            display: flex;
            margin-bottom: 10px;
            justify-content: space-between;
            .add-proxy-text{
                color:var(--tiklab-blue) ;
                margin-left: 10px;
                cursor: pointer;
            }
        }
        .user-table-ban{
            color: #cccccc;
            cursor: not-allowed;
        }
    }

    .repository-group{
        display: flex;
        justify-content: space-between;
        .group-bord{
            border-style: solid;
            border-width: 1px;
            border-color: #DCDCDC;
            width: 45%;
            height: 150px;
            overflow: auto;
        }
        .cut-repository:hover{
            background-color: #EBECF0;
            cursor: pointer;
        }
        .opt-color{
            background-color: #DCDCDC;
        }
        .opt-text{
            padding: 5px;
        }
        .icon-style{
            font-size: 20px;
            cursor: pointer;
            color: #999999;
            margin-top: 30px;
        }
    }
}

