.guide-details{
    &-title{
        margin: 20px 0;
    }
    &-back{
        background-color: #f5f7fa;
        padding: 15px;
    }
    &-explain{
        padding: 15px 0;
    }

   .ref-line{
       display: flex;
       padding-left: 25px;
       padding-top: 5px;
       &-20{
           margin-left: 20px;
       }
       &-40{
           margin-left: 40px;
       }
       &-60{
           margin-left: 60px;
       }
       &-80{
           margin-left: 80px;
       }
       &-100{
           margin-left: 100px;
       }
       &-text{
           padding: 0 5px;
       }
       &-top{
           margin-top: 20px;
       }
   }
    .guide-top{
        margin-top: 20px;
    }
    .guide-top-10{
        margin-top: 10px;
    }
    .text-style{
        margin-top: 20px;
        .text-nav{
            display: flex;
            margin: 10px 20px 0 20px;
            &-title{
                width: 150px;
            }
        }
    }
}
