.pull-details{
    .nav-top{
        margin-top: 40px;
    }

    &-title{
        margin: 20px 0;
    }
    .nav-style{
        background-color: #f5f7fa;
        padding: 15px;
        .nav-left{
            &-20{
                margin-left: 20px;
            }
            &-40{
                margin-left: 40px;
            }
            &-60{
                margin-left: 60px;
            }
            &-80{
                margin-left: 80px;
            }
            &-100{
                margin-left: 100px;
            }
            &-120{
                margin-left: 120px;
            }
        }
        .nav-style-details{
            overflow: auto;
        }
    }
    .text-style{
        margin-top: 20px;
        .text-nav{
            display: flex;
            margin: 10px 20px 0 20px;
            &-title{
                width: 150px;
            }
        }
    }
    .display{
        display: flex;
        margin: 5px 0;
    }
}
