.push-group{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    min-width: 700px;
    .push-group-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .push-group-name:hover{
        color: #1890ff;
        cursor: pointer;
    }
    .push-group-new-desc{
        display: flex;
        gap: 10px;
        justify-items: center;
    }

    .push-group-activity{
        display: flex;
        justify-items: center;
        gap: 16px;
    }
    .push-group-table{
        margin-top: 20px;
        .push-group-multi{
            display: flex;
            margin: 20px 0 10px 10px;
            align-items: center;
            .push-num{
                color: #999999;
                flex: 1;
            }
        }
    }


    .push-group-gray  {
        color: #999999;
    }

}
