.repositoryLibrary{
    padding: var(--tiklab-padding-item);
    .repository-library-width{
        max-width:var(--page-max-width);
        margin: 0 auto;
    }
    .repository-library-title{
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
    }
}

.library-mt{
    margin-top: 20px;
}
.library-border{
    color: #999999;
}
.library-mr{
    margin: 0 20px;
}
.library-blue-color{
    color: #3967FF;

}
.library-pointer{
    cursor: pointer;
}

