.scan{
    flex: 1;
    .scan-head-style{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .scan-play-style{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .scan-play-text{
            display: flex;
            gap: 20px;
            margin-left: 8px;
            color: #999999;
        }
        .scan-but-style{
            display: flex;
            gap: 15px;
        }

    }
    .scan-data-style {
        margin-top: var(--xpack-data-top);
        .scan-tab-style{
            display: flex;
            gap: 20px;
            font-size: 16px;
            font-weight: normal;
            margin-left: 8px;
            cursor: pointer;
            .choose-scanDetails-type{
                color: #0063FF;
                border-bottom:2px solid #0063FF;
            }
        }
        .scan-library-style{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 10px 0;
            .scan-library-num{
                margin-left: 5px;
                font-size: 15px;
                color: #999999;
            }
        }

    }

    .icon-style{
        display: flex;
        gap: 10px;
        cursor: pointer;
        .icon-style-size{
            font-weight: 20;
            font-size: 16px;
            cursor: pointer;
        }
    }
    .scan-text{
        gap: 5px;
        display: flex;
        align-items: center;
    }
    .scan-text-gray{
        color: #999999;
    }
    .scan-text-red{
        color: #ff0000;
    }
    .scan-text-dired{
        color:#df5000;
    }
    .scan-text-yellow{
        color:#ee9900;
    }

}
