.scanPlay{
    flex: 1;
    .scanPlay-head-style{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .scanPlay-but-style{
            display: flex;
            gap: 15px;
        }
    }
    .scanPlay-data-style {
        margin-top: var(--xpack-data-top);
    }


    .last-scan{
        display: flex;
        gap: 10px;
        font-weight:400;
        font-size: 15px;
        align-items: center;
        .last-scan-text{
            color: #94979a;
            font-size: 13px;
        }
    }
    .last-scan-style{
        display: flex;
        margin-top: 10px;
        gap: 10px;
        color: #1890ff;
        cursor: pointer;
        align-items: center;
    }
    .no-exec-style{
        display: flex;
        gap: 10px;
        color: #999999;
        align-items: center;
    }
    .icon-style{
        display: flex;
        gap: 15px;
        cursor: pointer;
        .icon-style-size{
            font-weight: 20;
            font-size: 16px;
            cursor: pointer;
        }
    }
    .scanPlay-text{
        gap: 5px;
        display: flex;
    }
    .scanPlay-text-gray{
        color: #999999;
    }
    .scanPlay-text-red{
        color: #ff0000;
    }
    .scanPlay-text-dired{
        color:#df5000;
    }
    .scanPlay-text-yellow{
        color:#ee9900;
    }
}
