.scanDetails{
    flex: 1;
    .scanDetails-head-style{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .scanDetails-but-style{
            display: flex;
            gap: 15px;
        }
    }

    .scanDetails-data-style{
        margin-top: 20px;
        .scanDetails-border-style{
            display: flex;
            gap: 40px;
            .scanDetails-library-border{
                border: 1px solid #e3e9ed;
                width: 20%;
                height: 100px;
                .scanDetails-library-desc{
                    margin-left: 20px;
                    margin-top: 15px;
                    font-size: 15px;
                    font-weight: bold;
                }
                .scanDetails-library-num{
                    margin-left: 20px;
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                }
                .relyOn-num{
                    cursor: pointer;
                }
            }
            .scanDetails-hole-border{
                display: flex;
                border: 1px solid #e3e9ed;
                width: 80%;
                height: 100px;
                .scanDetails-hold-style{
                    width: 25%;
                    .scanDetails-hole-desc{
                        margin-left: 20px;
                        margin-top: 15px;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .scanDetails-hole-num{
                        margin-left: 20px;
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .scanDetails-hole-red{
                        color: red;
                    }
                    .scanDetails-hole-dired{
                        color:#df5000;
                    }
                    .scanDetails-hole-yellow{
                        color:#ee9900;
                    }
                    .scanDetails-hole-blue{
                        color:#1890ff;
                    }
                }
            }
        }
    }

    .scanDetails-hole-style{
        margin-top: 50px;

        .scanDetails-hole-title{
            display: flex;
            gap: 15px;
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid #e3e9ed;
            cursor: pointer;
            .choose-scanDetails-type{
                color: #0063FF;
                border-bottom:2px solid #0063FF;
            }
        };
        .scanDetails-hole-desc{
            display: flex;

            .scanDetails-hole-desc-title{
                width: 30%;
                border-right:1px solid #e3e9ed;
                .scanDetails-icon-style{
                    display: flex;
                    .icon-style-no{
                        margin: 10px 10px 10px 3px;
                    }
                    .icon-style-option{
                        margin: 7px 7px 7px 0;
                    }
                    .option-icon{
                        border: 1px solid #d9d9d9;
                        padding: 2px;
                        background: #d9d9d9;
                        border-radius: 4px;
                    }
                }
                .scanDetails-title-style{
                    height: calc(100vh - 350px);
                    overflow: auto;
                }
                .scan-record-title-nav{
                    margin: 10px 0;
                    .opt-title-nav{
                        background-color:#1890ff;
                        color: #EBECF0;
                    }
                }
                .scanDetails-hole-title-nav{
                    margin: 5px 0 5px 15px ;
                    .hole-second-title-nav{
                        margin: 5px 0 5px 15px ;
                    }

                    .icon-style{
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .hole-title-nav-style{
                        display: flex;
                        gap: 5px;
                    }
                }
            }
            .scanDetails-hole-desc-details{
                width: 70%;
                overflow: auto;
                height: calc(100vh - 330px);
                .library-dec-style{
                    margin: 10px 10px 10px 20px;
                    .library-dec-head-name{
                        font-size: 17px;
                        font-weight: bold;
                        padding-top: 2px;
                    }
                    .library-dec-nav-style{
                        display: flex;
                        gap: 30px;
                        margin-top: 20px;
                        .library-dec-title{
                            width: 70px;
                        }
                        .library-dec-icon-style{
                            display: flex;
                            gap: 30px;
                            .library-dec-icon-nav{
                                display: flex;
                                gap: 10px;
                                .library-dec-icon-display{
                                    display: flex;
                                    gap: 3px;
                                    .library-dec-icon-text{
                                        padding-top: 2px;
                                    }
                                }
                                .library-dec-text{
                                    margin-top: 2px;
                                }
                            }
                        }
                    }
                }
                .rely-dec-style{
                    margin: 10px 10px 10px 20px;
                    .rely-dec-nav-style{
                        display: flex;
                        gap: 30px;
                    }
                    .rely-dec-nav-15{
                        display: flex;
                        margin-top: 15px;
                    }
                    .rely-dec-nav-10{
                        display: flex;
                        margin-top: 10px;
                    }
                    .rely-dec-title{
                        width: 70px;
                    }
                    .rely-dec-title-40{
                        width: 40px;
                    }
                    .rely-dec-head-name{
                        font-size: 17px;
                        font-weight: bold;
                        padding-top: 3px;
                    }
                    .rely-dec-licenses{
                        .rely-dec-licenses-style{
                            display: flex;
                            gap: 5px;
                            width: 100px;
                            font-weight: bold;
                        }
                        font-size: 15px;
                        font-weight: bold;
                        padding-top: 3px;
                    }


                }
                .hole-desc-style{
                    margin: 10px 10px 10px 20px;
                    .hole-name-nav{
                        display: flex;
                        gap: 5px;
                        .hole-name{
                            font-size: 17px;
                            font-weight: bold;
                            padding-top: 3px;
                        }
                    }
                    .hole-nav{
                        margin-top: 15px;
                    }
                    .hole-releaseTime{
                        margin-top: 10px;
                    }
                    .hole-code-style{
                        gap: 20px;
                        display: flex;
                        color: #1890ff;
                        .hole-code{
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }
    .flex-style{
        cursor: pointer;
        display: flex;
        gap: 10px;
    }
    .no-text-title{
        margin-left: 20px;
    }
    .margin-top{
        margin-top: 10px;
    }

    .scanDetails-fail{
        display: flex;
        font-size: 14px;
        font-weight: bold;
        margin: 20px 0 0 15px ;
        .fail-result{
            color: red;
        }
    }
    .fail-log-style{
        margin: 20px 0 0 15px ;
        .fail-log{
            font-size: 14px;
            font-weight: bold;
        }
        .scan-log-bottom{
            height: calc(100% - 83px);
            display: flex;
            flex-direction: row;
            padding-top: 20px;
            .scan-detail-log{
                flex: 1;
                overflow: auto;
                border-radius: 4px;
                padding: 10px;
                background: #000000;
                color: #ffffff;
                word-wrap: break-word;
                white-space: pre-wrap;
                .bottom-log{
                    color: #fff;
                    padding: 10px;
                    word-wrap: break-word;
                    white-space: pre-wrap;
                }
                .bottom-log-item:not(:last-child){
                    margin-bottom: 50px;
                }
            }
        }
    }
}
