.fist-nav{
    display: flex;
    width: 100%;
    height: 100%;
    .fist-nav-style {
        display: flex;
        height: auto;
        /*overflow: auto;*/
        background-color: var(--thoughtware-left-nav);
        flex-direction: column;
        justify-content: space-between;
        width: 80px;
        min-width: 80px;
        border-right: 1px solid #EBECF0;
        .fist-nav-tab{
            margin: 10px 0;
            cursor: pointer;
            padding: 2px 0;

            &:hover{
                background: var(--thoughtware-gray-300);
            }
        }
        .fist-nav-tab-choice{
            background-color: var(--thoughtware-gray-400);
            border-left:2px solid #0063FF;
        }
        .table-nav-place{
            text-align: center;
            cursor: pointer;
        }
        .setting-nav-color:hover {
            background-color: rgb(229, 231, 235);
        }
        .fist-nav-setting{
            border-top-width: 1px;
            padding: 15px;
            &:hover{
                background: var(--thoughtware-gray-300);
            }
        }

        .fist-nav-help-icon{
            margin: 15px 0;
        }

    }


    .fist-data-tab {
        width: 100%;
    }
}
.create-dropdown{
    box-sizing: border-box;
    z-index: 400;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
    width: 150px;
    left: 80px!important;
    top: 170px !important;
    .ant-dropdown:before{
        content: none!important;
    }
    .create-dropdown-link{
        padding: 8px 20px;
        cursor: pointer;
        .licence-help-link-icon{
            padding-right: 10px;
            font-size: 16px;
        }
        &:hover{
            background: #f4f4f4;
        }
    }

}
