.system-int{
    width: 100%;
    height: 100%;
    overflow: auto;
    .system-int-head-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--tiklab-padding-item)
    }

    .system-int-ul{
        border-radius: 4px;
        border: 1px solid var(--tiklab-gray-200);
        .system-int-ul-li{
            display: flex;
            align-items: center;
            padding: 10px 20px;
            cursor: pointer;
            background: var(--tiklab-gray-600);
            .integration-li-center{
                flex: 1;
                padding-left: 10px;
                .integration-li-center-title{
                    font-weight: var(--tiklab-font-weight-bold);
                }
                .integration-li-center-desc{
                    font-size: var(--tiklab-font-13);
                    color: var(--tiklab-gray-500);
                }
            }
        }

    }

    .system-int-body{
        display: flex;
        .system-body-details{
            display: flex;
            margin: 0 auto;
            min-width: 600px;
            max-width: 780px;
            padding: 20px 0;
            align-items: center;
            justify-content: space-between;
            .system-body-details-text{
                display: flex;
                gap: 20px;
            }
            .system-body-details-icon{
                display: flex;
                gap: 15px;
            }

            .system-body-details-icon:hover{
                cursor: pointer;
                color: #1890ff;
            }
        }

        .system-int-body-add{
            display: flex;
            justify-content: center;
        }
    }

    .system-int-table{
        margin-top: 10px;
    }
}
