.leadIn-pop-top{
    padding-top: 20px;
    .leadIn-pop-title{
        display: flex;
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-bottom: 5px;
    }


    .leadIn-pop-data{
        display: flex;
        padding: 5px;
        cursor: pointer;
        &:hover{
            background: #fafbfc;
        }
    }
    .leadIn-pop-data-chose{
        background: #efefef;
    }
}
.leadIn-pop-name-width{
    width: 300px;
}
.leadIn-pop-title-no{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    .title-no-click{
        color: #0d66e4;
        cursor: pointer;
    }
}

