/**
* @name: layout.modult.
* @author: mahai
* @date: 2021-07-14 10:33
* @description：layout.modult.
* @update: 2021-07-14 10:33
*/
$white: #fff;
$bottom:#f0f2f5;
$blue: #0063FF;
$gray-800: #444444;
.header {
    display: flex;
    background: $white;
    border-bottom: 1px solid $bottom;
    &_logo {
        height: 100%;
        width: 320px;

    }
    &Link {
        display: flex;
        justify-items: center;
        margin: 0 15px;
        cursor: pointer;
        color:  $gray-800;
        &Active{
            color: $blue !important;
        }
        :nth-of-type(2n) {
            padding: 0 20px;
        }
    }
    &Wrap{
        display: flex;
        justify-items: center;
        justify-content: space-between;
        width: 100%;
        align-items:center;
    }
    &Dropdown{
        margin:0 20px;
    }
}
