.history{
    overflow: auto;
    height: 100%;
    width: 100%;
    min-width: var(---xpack-min_width);
    display: flex;
    flex: 1;
    .history-style{
        overflow: auto;
        justify-items: center;
        flex: 1;
        padding: var(--tiklab-padding-item);
        .history-data{
            max-width: var(---xpack-data-width);
            margin: 0 auto;
        }
    }
}
