.library {
    overflow: auto;
    height: 100%;
    width: 100%;
    min-width: var(---xpack-min_width);
    display: flex;
    .library-right{
        padding: var(--tiklab-padding-item);
        flex: 1;
        overflow: auto;
        .library-right-data{
            display: flex;
            justify-content: center;
        }
   }
    .library-data{
        width: 1200px;;
    }
    .library-nav{
        margin: 15px 0;
        .input-style{
            margin: 5px 20px 0 0;
            color: darkgrey;
        }
    }
    .library-table{
        margin-top: 10px;
    }

}
.library-name{
    color: #1890ff;
    cursor: pointer;
}
